<div class="container" style="width: 500px;">
  <h2>Admin Login</h2>
  <form method="POST" id="formvalidate" ng-submit="login(data)">
   
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" ng-model="data.email" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" ng-model="data.password" name="password" id="pwd" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
